<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand ms-3">
    <%= link_to "Anime Ranker", root_path, class: "navbar-brand" %>
  </div>
  <div class="container-fluid">
    <ul class="nav navbar-nav ms-auto">
      <%= form_tag animes_path, method: :get do %>
        <%= text_field_tag :query, params[:query] %>
        <%= submit_tag 'Search', name: nil %>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to "Add Anime", new_anime_path, class: "nav-link" %>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
        <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
      <% end %>
    </ul>
  </div>
</nav>
